<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorMailSAZ" requirePermission="false" type="ElmahFiddler.ElmahMailSAZSectionHandler, ElmahFiddler"/>
    </sectionGroup>
  </configSections>
  <elmah>
    <errorMailSAZ>
      <renameHost>pepe</renameHost>      <!-- Rename host in SAZ requests -->
      <keepLastNRequests>3</keepLastNRequests>      <!-- Keep only the last N requests before the error -->
      <password>bla</password>      <!-- Password for SAZ file -->
      <exclude>        <!-- List of URLs (regex) to exclude from SAZ -->
        <url>blabla</url>
      </exclude>
    </errorMailSAZ>
    <errorMail
      from="pepe@gmail.com"
      to="pepe@gmail.com"
      subject="ERROR From Elmah:"
      async="false"
      smtpPort="587"
      useSsl="true"
      smtpServer="smtp.gmail.com"
      userName="pepe@gmail.com"
      password="pepe" />
  </elmah>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
      <httpModules>
          <add name="elmahMail" type="Elmah.ErrorMailModule, Elmah"/>
          <add name="elmahSAZ" type="ElmahFiddler.ElmahMailSAZModule, ElmahFiddler"/>
      </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules>
      <add name="elmahMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="elmahSAZ" type="ElmahFiddler.ElmahMailSAZModule, ElmahFiddler"/>
    </modules>
  </system.webServer>
</configuration>